<div class="login-box flipped">
  <form class="forget-form" [formGroup]="forgoutForm" >
    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Digite Seu E-Mail</h3>
    <div class="form-group">
        <app-input errorMessage="Campo obrigatório" label="Email">
            <input formControlName="email" class="form-control" type="text" placeholder="Email" autofocus>
        </app-input>
    </div>
    <div class="form-group btn-container">
      <button class="btn btn-primary btn-block" [disabled]="!forgoutForm.valid"><i class="fa fa-unlock fa-lg fa-fw"></i>Recuperar</button>
    </div>
    <div class="form-group mt-3">
      <p class="semibold-text mb-0"><a routerLinkActive="active" [routerLink]="['/admin/auth/login']"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
    </div>
  </form>
</div>