<main class="app-content">
  <app-breadcrumb page="Cidade" description="Editar Cidade"></app-breadcrumb>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Register</h3>
        <div class="tile-body">
          <form class="form-horizontal" [formGroup]="formGroup" novalidate>
            <app-input-hidden>
              <input formControlName="id" type="hidden">
            </app-input-hidden>
            <app-input-hidden>
              <input formControlName="alias" type="hidden">
            </app-input-hidden>

            <app-input-inline errorMessage="Campo obrigatório" label="Name">
              <input formControlName="name" class="form-control" type="text" placeholder="Nome Da Cidade" autofocus>
            </app-input-inline>

            <app-input-inline errorMessage="Campo obrigatório" label="Digite o nome da rota">
              <input formControlName="route" class="form-control col-md-4 col-xs-12" type="text" placeholder="Digite o nome da rota">
            </app-input-inline>

            <app-input-inline errorMessage="Campo obrigatório" label="Descrição">
              <textarea formControlName="description" class="form-control" rows="4" placeholder="Descrição..."></textarea>
            </app-input-inline>

            <app-input-inline errorMessage="Campo obrigatório" label="Criado Em">
              <input formControlName="created_at" class="form-control col-md-6 col-xs-12" type="text" placeholder="Criado Em">
            </app-input-inline>

            <app-input-inline errorMessage="Campo obrigatório" label="Atualizado Em">
              <input formControlName="updated_at" class="form-control col-md-6 col-xs-12" type="text" placeholder="Atualizado Em">
            </app-input-inline>

            <div class="form-group row">
              <div class="col-md-8 col-md-offset-3">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" formControlName="status" type="checkbox">Marcar para habilitar o
                    uso
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tile-footer">
          <div class="row">
            <div class="col-md-8 col-md-offset-3">
              <button class="btn btn-primary" (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid"><i
                  class="fa fa-fw fa-lg fa-check-circle"></i>Finalizar Cadastro</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-danger"
                [routerLink]="['/admin/resources']"><i class="fa fa-fw fa-lg fa-times-circle"></i>Voltar Para A Lista</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearix"></div>
  </div>
</main>