<main class="app-content">
  <app-breadcrumb page="Empresa" description="Editar Ususario {{user?.name}}"></app-breadcrumb>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Ususario {{user?.name}}</h3>
        <div class="tile-body">
          <form class="form-horizontal mt-5" [formGroup]="formGroup" novalidate>
            <app-input-hidden>
              <input formControlName="id" type="hidden">
            </app-input-hidden>
             <app-input-hidden>
              <input formControlName="created_at" type="hidden">
            </app-input-hidden>
             <app-input-hidden>
              <input formControlName="updated_at" type="hidden">
            </app-input-hidden>
            <app-input-inline errorMessage="Campo obrigatório" label="Nome Completo">
              <input formControlName="name" class="form-control col-md-9 col-xs-12" type="text" placeholder="Nome Completo">
               <div class="form-control-feedback has-danger" *ngIf="formGroup.get('name').hasError('required')">Por favor preencha esse campo!</div>
            </app-input-inline>

            <app-input-inline errorMessage="Campo obrigatório" label="Nivel De Acesso">
                <select formControlName="role_id" class="form-control col-md-12 col-xs-12" placeholder="Selecione um nivel">
                 <option *ngFor="let option of rolesOptions" [value]="option.value">{{option.label}}</option>     
                </select>
                 <div class="form-control-feedback has-danger" *ngIf="formGroup.get('role_id').hasError('required')">Por favor preencha esse campo!</div>
            </app-input-inline>

            <app-input-inline errorMessage="Campo obrigatório" label="E-Mail">
              <input formControlName="email" class="form-control col-md-9 col-xs-12" type="text" placeholder="Seu melhor E-Mail">
               <div class="form-control-feedback has-danger" *ngIf="formGroup.get('email').hasError('required')">Por favor preencha esse campo!</div>
            </app-input-inline>
            <app-input-inline errorMessage="Campo obrigatório" label="Senha">
              <input formControlName="password" class="form-control col-md-9 col-xs-12" type="password" placeholder="Digite uma senha">
              <div class="form-control-feedback has-danger" *ngIf="formGroup.get('password').hasError('required')">Por favor preencha esse campo!</div>
            </app-input-inline>
            <hr>
            <app-file-upload-preview [url]="cover" errorMessage="Campo obrigatório" label="Selecione Uma Foto" (SelectedFile)="SelectedFile($event)">
              <input type="hidden" formControlName="cover">
            </app-file-upload-preview>
            <hr>
            <app-input-inline errorMessage="Campo obrigatório" label="Observações">
              <textarea formControlName="description" class="form-control col-md-9 col-xs-12" placeholder="Observações"></textarea>
            </app-input-inline>

            <div class="form-group row">
              <div class="col-md-8 col-md-offset-3">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" formControlName="status" type="checkbox">Marcar para habilitar o
                    acesso
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tile-footer">
          <div class="row">
            <div class="col-md-8 col-md-offset-3">
              <button class="btn btn-primary" (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid"><i
                  class="fa fa-fw fa-lg fa-check-circle"></i>Finalizar Cadastro</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-danger"
                [routerLink]="['/admin/usuarios']"><i class="fa fa-fw fa-lg fa-times-circle"></i>Voltar Para A Lista</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearix"></div>
  </div>
</main>
