<ul class="list-group list-group-flush">
   <li class="list-group-item">{{ conclusion?.description }}</li>
</ul>
<div class="row" *ngIf="images">
   <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item *ngFor="let item of images">
        <div class="view w-100">
            <img class="d-block w-100" [src]="img(item.link)" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
      
    </mdb-carousel-item>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>