<ul class="list-group list-group-flush">
   <li class="list-group-item"><b>Nº :</b><span class="float-right"> {{ licitacion?.number_processo }}</span></li>
   <li class="list-group-item"><b>MODALIDADE DE LICITAÇÃO:</b><span class="float-right"> {{ licitacion?.modalidade }}</span></li>
   <li class="list-group-item"><b>EMPRESA VENCEDORA:</b><span class="float-right"> {{ licitacion?.company }}</span></li>
   <li class="list-group-item"><b>CNPJ EMPRESA VENCEDORA:</b><span class="float-right"> {{ licitacion?.document }}</span></li>
   <li class="list-group-item"><b>DETALHES:</b> {{ licitacion?.description }}</li>
</ul>